.noArtificialColors {
  height: 78px;
  width: 78px;
  position: relative;
  object-fit: cover;
}
.noArtificialColorsWrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-3xs);
}
.colours,
.noArtificial {
  margin: 0;
}
.noArtificialColoursContainer1 {
  width: 100%;
}
.noArtificialColoursContainer {
  width: 98px;
  position: relative;
  font-weight: 600;
  display: flex;
  align-items: center;
}
.card1 {
  flex: 1;
  border-radius: var(--br-5xs);
  background-color: var(--color-lavenderblush);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-smi) var(--padding-xl);
  box-sizing: border-box;
  gap: var(--gap-5xs);
  min-width: 209px;
  max-width: 279px;
  text-align: center;
  font-size: var(--paragraph-1medium-size);
  color: var(--color-black);
  font-family: var(--paragraph-2regular);
}
